extends layout

block content
  h1= title
  p Welcome to #{title}
  p Test #{test}
  section(id="sec01")
    p Section01
    ul
      each item in items
        li(id=item.id)= item.title
  section(id="sec02")
    p Section02
