-var menu = [{"href":"/", "title":"Home"},{"href":"/blog", "title":"Blog"}];

mixin menuitem(url, title)
  li
    a(href=url)= title

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
    
  body
    header
      ul
        each item in menu
          +menuitem(item.href, item.title)
      ul
        if(user)
          +menuitem("/logout", "Logout")
          +menuitem("/dashboard", "Dashboard")
        else
          +menuitem("/login", "Login")

    main
      block content
